{% extends "base.html" %}

{% block title %}Анализатор страниц{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="bg-light p-4 rounded shadow-sm border">
                <h1 class="display-4 fw-normal">Анализатор страниц</h1>
                <p class="text-dark">Бесплатно проверяйте сайты на SEO-пригодность</p>
                
                <form method="post" action="{{ url_for('add_url') }}" class="d-flex gap-3 mt-4">
                    <input type="text" name="url" class="form-control rounded" placeholder="https://www.example.com" required>
                    <button type="submit" class="btn btn-primary px-4 py-2">ПРОВЕРИТЬ</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

