{% extends "base.html" %}

{% block title %}Сайты - Анализатор страниц{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4 h2 fw-normal">Сайты</h1>

    <div class="table-responsive">
        <table class="table table-bordered" data-test="urls">
            <thead>
                <tr>
                    <th class="fw-normal">ID</th>
                    <th class="fw-normal">Имя</th>
                    <th class="fw-normal">Последняя проверка</th>
                    <th class="fw-normal">Код ответа</th>
                </tr>
            </thead>
            <tbody>
                {% for url in urls %}
                <tr>
                    <td>{{ url.id }}</td>
                    <td><a href="{{ url_for('show_url', id=url.id) }}">{{ url.name }}</a></td>
                    <td>{{ url.last_check_date.strftime('%Y-%m-%d') if url.last_check_date else '' }}</td>
                    <td>{{ url.last_check_status or '' }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
